@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$collorTitle:#4986bd;
$collorAlert:#a94543;
$collorBackAlert:#f2dede;
$collorGood:#427a44;

$collorEvenRow:#ffffff;
$collorUnEvenRow:#f4f4f4;

$collorBorder:#d3d1d1;

$collorTextDark:black;
$collorTextLight: white;

